.initialVmZone {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.machines {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.addButton {
    width: 100%;
    height: 50px;
    background: antiquewhite;
    border: none;
}