.machine {
    width: 550px;
    border: 1px solid black;
    height: 100%;
}

.title {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid black;
}

.vms {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    min-height: 100px;
}

.deleteButton {
    width: 100%;
    background: red;
    border: 1px solid black;
    cursor: pointer;
}