.info {
    width: 100%;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

.infoEntry {
    border-bottom: 1px solid black;
    text-align: right;
    position: relative;
}

.bar {
    position: absolute;
    height: 100%;
    top: 0;
    z-index: -1;
    transition: width ease-in-out 0.5s, background-color ease-in-out 0.5s;
}

.cpuBar {
    background-color: #6fb246;
}

.memoryBar {
    background-color: #1896d1;
}

.storageBar {
    background-color: #8bcbde;
}